[Desktop Entry]
Version=1.0
Type=Application
Name=VPN Manager
Comment=Gestiona conexiones VPN
Exec=/opt/vpn-manager/VPN-Manager
Icon=/opt/vpn-manager/vpn-manager.png
Terminal=false
StartupNotify=true
Categories=Network;Security;
